*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   "Quicksand", Lato, Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
}


/* styling for nav */
.nav_section {
    width: 100%;
    height: 70px;
    background-color: white;
    padding-top: .7rem;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(194, 192, 192, 0.712);
    -moz-box-shadow: -3px -2px 15px 7px rgba(194, 192, 192, 0.712);
    box-shadow: -4px -3px 10px 5px rgba(206, 202, 202, 0.712);
    position: relative;
}

.primary_nav {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: block;
}

.primary_nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.primary_nav ul li {
    list-style: none;

}

.primary_nav ul li a {
    font-size: 14px;
    position: relative;
    text-decoration: none;
    color: black;
    margin: 0 .8rem;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    padding: .2rem 0;
}

.primary_nav ul li a:hover,
.primary_nav ul li a.is_active {
    color: #e36972;
}


.primary_nav ul li a:hover::after {
    content: "";
    position: absolute;
    background-color: #e36972;
    width: 10px;
    height: 3px;
    bottom: 0;
    left: 0;
}

.desktop_icons{
    margin-top: -.5rem;
}

.search_icon {
    margin-right: .7rem;
}

.cart_icon, .search_icon {
    cursor: pointer; 
}


.mobile_menu_icon, .mobile_cart_icon{
    font-size: 1.2rem;
    font-weight: bold;
}

.mobile_cart_icon{
    margin-right: .8rem;
}

.hide_desktop {
    display: none;
}

.cta_btns {
    padding: 0 1rem;
}

.createAcc_btn {
    background-color: #da3743;
    color: white;
    outline: none;
    border: none;
    padding: .6rem .7rem;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    cursor: pointer;
}

.signIn_btn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 1.4rem;
}


/* styling for hero section */
.hero_section {
    width: 100%;
    background-color: #eb424d;
    color: white;
}

.hero_section_container {
    padding: 3rem 0;
    position: relative;
}

.hero_text {
    margin-bottom: 2.5rem;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
}

.hero_text h1 {
    margin-bottom: 1rem;
    font-size: clamp(1.2rem, 4.5vw, 2.7rem);
    line-height: 2.5rem;
}

.hero_text p {
    margin-bottom: 2rem;
    font-size: clamp(1rem, 4.5vw, 1.2rem);
    line-height: 2rem;
}

.hide_on_md {
    display: flex;
    flex-direction: column;
}

.hide_on_md p {
    margin-bottom: .5rem;
}

.search_container {
    position: relative;
}

.search_container input {
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0 1.5rem;
}

.search_container .search_icon {
    position: absolute;
    color: rgb(71, 70, 70);
    top: 10px;
    left: 5px;
}

.hero_cta {
    outline: none;
    border: none;
    width: 250px;
    height: 38px;
    background-color: #da3743;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}

.hero_cta:hover {
    background-color: #f15761;
}

.hide_on_sm {
    display: none;
}

.hero_image {
    width: 100%;
    height: auto;
    
}

.hero_image img {
    width: 100%;
    height: 100%;
    border: 2px solid #da3743;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    animation: spin 7s linear infinite;
    -webkit-animation: spin 7s linear infinite;
}

.chat_icon {
    background: linear-gradient(#dd3738, #da363b, #f03a32 );
    color: white;
    padding: 1rem;
    border-radius: 100%;
    position: absolute;
    right: .5rem;
    bottom: 2rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    cursor: pointer;
}

/* styling for menu section */
.menu_section {
    background-color: #f3f0f0;
    width: 100%;
    height: auto;
}

.menu_section_container {
    padding: 3rem 0;
}

.menu_section_container h4 {
    color: #e36972;
    margin-bottom: .5rem;
}

.secondary_nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.secondary_nav h2 {
    margin-bottom: 1rem;
    font-size: clamp(1rem, 4.5vw, 1.5rem);
}

.secondary_nav ul {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(206, 204, 204);
    padding: .4rem .2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 1.7rem;
}

.secondary_nav ul li {
    list-style: none;
    line-height: 100%;
}

.secondary_nav ul li a {
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: clamp(.7rem, 2.5vw, .8rem);
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: .5rem;
}

.secondary_nav ul li a:hover,
.secondary_nav .is_active {
    background-color: #da3743;
    color: white;
    height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.menu {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.menu .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 2px 2px rgb(231, 228, 228);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    cursor: pointer;
}

.menu .card:hover .menu_text h2 {
    color: #e4861a;
}

.menu .card:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 1px 3px 3px 3px rgb(231, 228, 228);
}

.menu .card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.menu_text {
    padding: 1rem;
    position: relative;
}

.menu_text h2 {
    font-size: clamp(.9rem, 4.5vw, 1rem);
    margin-bottom: .5rem;
    flex: 1;
}

.menu_text p {
    font-size: clamp(.7rem, 4.5vw, .9rem);
    margin-bottom: 1.2rem;
    flex: 1;
}

.menu_text .price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

}

.order_btn {
    background-color: #fa8f11;
    color: white;
    padding: .5rem .8rem;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.add_menu_item {
    background-color: #da363b;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    padding: .6rem;
}

.full_menu_btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full_menu_btn {
    border: none;
    outline: none;
    background-color: #da363b;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


/* styling for testimonial section */
.testimonial_section {
    width: 100%;
    height: auto;
    background-color: #fae1e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial_section_container {
    padding: 6rem 0;
    display: grid;
    align-items: center;
    justify-items: center;
}

.testimonial_text {
    width: 100%;
}

.testimonial_text h2 {
    font-size: clamp(1.4rem, 4.5vw, 1.8rem);
    margin-bottom: .5rem;
}

.testimonial_text p {
    font-size: clamp(.9rem, 4.5vw, 1.1rem);
    margin-bottom: .8rem;
}

.testimonial_card {
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0px 3px 0px rgb(235, 231, 231);
    position: relative;
}

.client_bio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: .8rem;
}

.client_bio h4{
    font-size: clamp(1.2rem, 4.5vw, 1.4rem);
    color: rgb(128, 122, 122);
}

.client_bio h6{
    font-size: clamp(.7rem, 4.5vw, .7rem);
    color: rgb(128, 122, 122);
    text-transform: uppercase;
}

.client_img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.client_img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    object-fit: cover;
}

.quote_symbol {
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #da363b;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


/* styling for blogs section */
.blogs_section{
    width: 100%;
}

.blogs_section_container{
    padding: 3rem 0;
}

.blogs_section_container h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: clamp(1.2rem, 4.5vw, 1.3rem);
}

.blogs_section_container h6{
    text-align: center;
    margin-bottom: 3rem;
    font-size: clamp(.8rem, 4.5vw, .9rem);
    font-weight: normal;
}

.blogs_card_container{
    display: grid;
    gap: 2rem;
    grid-gap: 2rem;
    width: 100%;
}

.blogs_card{
    height: 360px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgb(231, 228, 228);
    border-radius: 6px;
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    display: flex;
    flex-direction: column;
}

.blogs_card:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 1px 2px 2px 2px rgb(231, 228, 228);
}

.blogs_card_img{
    width: 100%;
}

.blogs_card_img img{
    width: 100%;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
}

.blogs_card_text{
    padding: .9rem;
}

.blogs_card_text b{
    color:#da363b;
    margin-right: .9rem;
    font-size: clamp(.7rem, 3.5vw, .8rem);
    font-weight: normal;
}

.blogs_card_text b:last-child{
    color: #8b8b8b;
}

.blogs_card_text h4{
    margin: .5rem 0 .7rem 0; 
}

.blogs_card_text p{
    margin-bottom: .6rem;
    font-size: clamp(.8rem, 3.5vw, .9rem);
    flex: 1;
}

.blogs_card_text a{
    text-decoration: none;
    color: #da363b;
    text-transform: uppercase;
    font-weight: 600;
    font-size: clamp(.6rem, 3.5vw, .7rem);
    flex: 1;
}


/* styling for footer */
footer{
    width: 100%;
    background-color: #f3f0f0;
}

.footer_section_container{
    padding: 4rem 0;
}

.primary_footer{
    display: grid;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dbd8d8;
}

.footer_logo{
    margin-bottom: 2rem;
    font-size: clamp(.7rem, 3.5vw, .8rem);
}

.footer_links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.company{
    margin-bottom: 1rem;
}

.company h6{
    font-size: clamp(.8rem, 3.5vw, .9rem);
    margin-bottom: .5rem;
}

.company li{
    list-style: none;
    font-size: clamp(.7rem, 3.5vw, .8rem);
    margin-bottom: .4rem;
}

.company li a{
    text-decoration: none;
    color: #8b8b8b;
}


.services{
    margin-bottom: 1rem;
}

.services h6{
    font-size: clamp(.8rem, 3.5vw, .9rem);
    margin-bottom: .5rem;
}

.services li{
    list-style: none;
    font-size: clamp(.7rem, 3.5vw, .8rem);
    margin-bottom: .6rem;
}

.services li a{
    text-decoration: none;
    color: #8b8b8b;
}


.social_links{
    display: inline-block;
}

.social_links a{
    height: 10px;
    width: 20px;
    text-decoration: none;
    color: #605e5b;
    background-color: #f3eee4;
    padding: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1rem;
}

.secondary_footer{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary_footer p{
    font-size: clamp(.7rem, 3.5vw, .8rem);
}


.hide_on_sm {
    display: none;
}






/* keyframe animation for hero image */
@-webkit-keyframes spin {
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}}

@-moz-keyframes spin {
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}}

@keyframes spin {
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}}









/* media queries */

@media only screen and (max-width: 790px) {

    .hide_mobile {
        display: none;
    }

    .hide_desktop {
        display: inline-block;
    }

    .signIn_btn {
        outline: none;
        border: none;
        background-color: transparent;
        border: 1px solid #da3743;
        color: #da3743;
        padding: .6rem .7rem;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
        cursor: pointer;
        margin-right: 0;
        margin-left: .5rem;
    }

    header {
        padding-top: 1.5rem;
    }

    .primary_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .primary_nav .nav_links {
        z-index: 9999;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: white;
        background-size: cover;
        height: 100vh;
        width: 100%;
        padding-top: 4.5rem;
        display: block;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }

    .primary_nav ul li {
        margin: 30px 0;
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    .primary_nav ul li a {
        margin: 0;
        font-size: 14px;
        margin-left: .3rem;
    }

    .mobile_icons {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 30px;
        top: 14px;
        padding: 0;
        cursor: pointer;
    }

    

    .close {
        position: absolute;
        top: 10px;
        right: 30px;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .nav_links.active {
        left: 0%;
    }

}



@media only screen and (min-width: 620px) {
    .hero_section {
        width: 100%;
        background-color: white;
        color: black;
    }

    .hero_section_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        grid-gap: 2.5rem;
        gap: 2.5rem;
    }

    .menu .card:hover .order_btn {
        display: block;
    }

    .secondary_nav ul{
        width: 400px;
    }

    .hide_on_md {
        display: none;
    }

    .hide_on_sm {
        display: block;
    }

    
}


@media only screen and (min-width: 420px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
    }

    .secondary_nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        
    }

    .secondary_nav ul{
        width: 100%;
    }

    .blogs_card_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: space-between;
    }

    .primary_footer{
        grid-template-columns: repeat(2, 1fr);
    }

}






@media only screen and (min-width: 700px) {

    .menu {
        grid-template-columns: repeat(3, 1fr);
    }

    .secondary_nav{
        grid-template-columns: 2fr 1fr;
    }

    .testimonial_section_container{
        grid-template-columns: 2fr 3fr;
        grid-gap: 3rem;
        gap: 3rem;
    }

    .testimonial_card{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 2.5rem;
        gap: 1rem;
        grid-gap: 1rem;
    }

    .client_bio{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .client_bio h4{
        text-align: center;
        margin-left: -1rem;
    }
    
    .client_bio h6{
        text-align: center;
        margin-left: -1rem;
    }

    .client_img{
        width: 100px;
        height: 100px;
        margin-bottom: .6rem;
    }

    .blogs_card_container{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: space-between;
    }
}